table.new-table-container {
    width: unset;
}

th.new-th {
    max-width: 111px;
    min-width: 110px;
}

.new-table-container tr:nth-child(odd) {
    background-color: #323C50;
}

.new-table-container tr:nth-child(even) {
    background-color: #2C3446;
}

.changes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.new-table-container th, .new-table-container td {
    padding: 9px;
}

.new-table-container {
    margin: 11px;
}

.new-table-container td {
    min-width: 120px;
    max-width: 130px;
}
